# Exclure les caches Python et les environnements virtuels
__pycache__/
*.pyc
.venv/

# Exclure les fichiers et dossiers de configuration locaux
.vscode/
*.dbml
*.proj.user
*.jfm

# Fichiers de versioning
.git/
.gitignore
.dockerignore

# Environnement
.env
.env.*

# Node / JS si présent
node_modules/
npm-debug.log

# Fichiers de build / DevOps non nécessaires à l’image finale
docker-compose.yml
docker-compose*.yml
compose*
*.yaml
*.yml

# Fichiers CI/CD secrets
secrets.dev.yaml
values.dev.yaml

# Inutile dans l’image finale
LICENSE
README.md
